.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header img,
.header svg {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}
.header img:hover,
.header svg:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.header .content {
  padding: 40px 0 40px 0;
}
.header .content svg {
  fill: var(--text-color);
}
.header .content .links {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .content .header-name {
  color: var(--header-text-color);
}
.header .sidebar {
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: var(--dark-color);
}
.header .sidebar .sidebar-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header .sidebar .menuIcon {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.header .sidebar .links-sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .sidebar .links-sidebar .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.header .sidebar .links-sidebar .link label {
  font-size: 25px;
}
@media (min-width: 560px) {
  .header .links {
    display: block;
  }
  .header .hamburger,
  .header .sidebar {
    display: none;
  }
}
@media (max-width: 560px) {
  .header .content .links {
    display: none;
  }
  .header .content .links svg {
    display: none;
  }
  .header .content .links .themes {
    display: none;
  }
  .header .content .links img {
    display: none;
  }
  .header .content .links a {
    margin-bottom: 10px;
  }
  .header .hamburger {
    display: block;
  }
  .header .sidebar {
    display: none;
  }
}
@media (max-width: 330px) {
  .header .header-name {
    font-size: 15px;
  }
}
@media (min-width: 330px) {
  .header .header-name {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  .header .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 1150px) {
  .header .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 1900px) {
  .header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1895px) {
  .header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
