.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 20px 40px 20px;
  background: var(--gradient-bg);

  .content,
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    transition: 0.15s ease-in-out;

    &:nth-last-child(n + 2) {
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .content {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (min-width: 500px) {
  .content {
    flex-direction: row;
  }
}
