@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px;
  background: #18324e;
  color: #fff;

  .heading {
    font-size: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    img {
      width: 100%;
      height: 40px;
      transition: 0.15s ease-in-out;
    }

    a {
      transition: 0.15s ease-in-out;
    }

    .header-name {
      font-weight: bold;
      line-height: 1em;
    }
  }

  .welcome {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      border-radius: 5000px;
    }

    h1,
    h2 {
      margin: 0;
      padding: 0;
      font-size: 50px;
      border-bottom: 5px solid #1a77ff;
    }
  }

  .languages {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .languages-container {
      width: 100%;
      overflow-y: hidden;
      display: flex;
      align-items: center;
      text-align: center;

      .language-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;

        h1 {
          font-size: 30px;
        }
      }
    }
  }

  .projects {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .project-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .project {
        margin: 20px;

        .website-logo {
          height: 30px;
          margin-right: 10px;
        }

        .links {
          display: flex;
          align-items: center;
        }

        .play-store {
          background: #34aa52;
          color: #fff;
        }

        .github {
          background: #0d1117;
          color: #fff;
        }

        .button-container {
          transition: 0.15s ease-in-out;
          border-radius: 10px;

          &:hover {
            opacity: 0.75;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 10px;
          margin-right: 20px;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 200px;
      }
    }
  }
}

@media (max-width: 900px) {
  .languages {
    .heading {
      text-align: center;
      width: 100%;
    }

    .languages-container {
      flex-direction: column;
    }
  }
}

@media (min-width: 900px) {
  .languages {
    .languages-container {
      flex-direction: row;
    }
  }
}

@media (max-width: 1300px) {
  .inner-container {
    width: 100%;
  }

  .languages {
    .heading {
      text-align: center;
      width: 100%;
    }
  }

  .projects {
    .heading {
      text-align: center;
      width: 100%;
    }

    .project-container {
      flex-direction: column;
    }
  }
}

@media (min-width: 1300px) {
  .inner-container {
    max-width: 100%;
  }

  .projects {
    .project-container {
      flex-direction: row;
    }
  }
}

@media (max-width: 1400px) {
  .container {
    .welcome {
      img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    .welcome {
      img {
        height: 200px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .welcome {
      width: 100%;
      flex-direction: column;
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .welcome {
      width: 100%;
    }
  }
}

@media (max-width: 2100px) {
  .inner-container {
    width: 100%;
  }
}

@media (min-width: 2100px) {
  .inner-container {
    width: 60%;
  }
}

@media (min-width: 2400px) {
  .inner-container {
    width: 50%;
  }
}

@media (min-width: 3500px) {
  .inner-container {
    width: 40%;
  }
}
