:root {
  --soft-color: #0e141b;
  --gradient-bg: linear-gradient(
    180deg,
    hsl(212deg 32% 8%) 0%,
    hsl(212deg 32% 8%) 8%,
    hsl(211deg 32% 8%) 17%,
    hsl(211deg 32% 8%) 25%,
    hsl(211deg 32% 8%) 33%,
    hsl(210deg 32% 9%) 42%,
    hsl(210deg 32% 9%) 50%,
    hsl(210deg 31% 9%) 58%,
    hsl(211deg 30% 10%) 67%,
    hsl(211deg 30% 10%) 75%,
    hsl(211deg 29% 11%) 83%,
    hsl(212deg 29% 11%) 92%,
    hsl(212deg 29% 12%) 100%
  );
  --footer-gradient-bg: linear-gradient(
    0deg,
    hsl(212deg 32% 8%) 0%,
    hsl(212deg 32% 8%) 8%,
    hsl(211deg 32% 8%) 17%,
    hsl(211deg 32% 8%) 25%,
    hsl(211deg 32% 8%) 33%,
    hsl(210deg 32% 9%) 42%,
    hsl(210deg 32% 9%) 50%,
    hsl(210deg 31% 9%) 58%,
    hsl(211deg 30% 10%) 67%,
    hsl(211deg 30% 10%) 75%,
    hsl(211deg 29% 11%) 83%,
    hsl(212deg 29% 11%) 92%,
    hsl(212deg 29% 12%) 100%
  );
  --dark-color: #161e26;
  --border-color: #8892b0;
  --cursor-color: rgba(255, 255, 255, 0.75);
  --text-color: #fff;
  --header-text-color: #617bff;
  --tag-color: #64ffda;
  --button-bg-color: rgba(45, 212, 191, 0.1);
  --link-bg-color: #0d1117;
  --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsla(0deg, 0%, 100%, 0.85);
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(255deg, 85%, 30%);
  --color-decorative: hsl(200deg, 75%, 65%);
  --color-muted: hsl(210deg, 55%, 92%);
  --color-info: hsl(245deg, 100%, 60%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 50%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(37deg, 100%, 50%);
  --color-alert-background: hsla(52deg, 100%, 50%, 0.25);
  --color-subtle-background: hsl(225deg, 25%, 95%);
  --color-subtle-floating: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
  --color-gray-100: hsl(225deg, 25%, 95%);
  --color-gray-200: hsl(225deg, 16%, 90%);
  --color-gray-300: hsl(225deg, 8%, 80%);
  --color-gray-400: hsl(225deg, 8%, 70%);
  --color-gray-500: hsl(225deg, 7%, 60%);
  --color-gray-600: hsl(225deg, 15%, 50%);
  --color-gray-700: hsl(225deg, 12%, 40%);
  --color-gray-900: hsl(225deg, 25%, 20%);
  --color-gray-1000: hsl(225deg, 15%, 15%);
  --footer-bg-color: #1d2730;
}

@font-face {
  font-family: "Wotfard";
  font-weight: 400;
  src: url("../fonts/wotfard-regular-webfont.woff2") format("woff2"),
    url("../fonts/wotfard-regular-webfont.ttf") format("ttf"),
    url("../fonts/wotfard-regular-webfont.eot") format("eot");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Wotfard", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:visited {
    color: var(--text-color);
  }
}

img,
svg {
  display: block;
}

svg {
  fill: var(--soft-color);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Wotfard", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  background: var(--dark-color);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .curve {
    background: var(--dark-color);
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .heading {
    font-size: 50px;
    padding-bottom: 20px;
  }

  .welcome {
    background-image: var(--gradient-bg);
    background-size: 100% 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .content {
        padding: 40px 0 40px 0;

        .links {
          display: flex;
          justify-content: end;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            margin-left: 10px;
          }
        }

        .header-name {
          font-size: 1.5rem;
          color: var(--header-text-color);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .picture {
        border-radius: 50%;
      }

      u {
        text-decoration: none;
        border-bottom: 5px solid var(--border-color);
      }

      .intro-name {
        border-bottom: 5px solid var(--border-color);
      }

      .fullstackContainer {
        display: inline-block;
        width: auto;
      }

      .introContainer {
        display: inline-block;
        width: auto;
      }

      .intro-name {
        white-space: nowrap;
        overflow: hidden;
        animation: typewriter 2s steps(44) 1s 1 normal both,
          blinkTextCursor 1s steps(44) infinite;
        border-bottom: 5px solid var(--border-color);
        border-right: 2px solid var(--cursor-color);

        @keyframes typewriter {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
        @keyframes blinkTextCursor {
          from {
            border-right-color: var(--gradient-bg);
          }
          to {
            border-right-color: #fff;
          }
        }
      }

      .fullstack {
        border-right: 2px solid var(--cursor-color);
        white-space: nowrap;
        overflow: hidden;
        animation: typewriter 2s steps(55) 3.5s 1 normal both,
          blinkTextCursor 1s steps(55) infinite;
        border-bottom: 5px solid var(--border-color);

        @keyframes typewriter {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
        @keyframes blinkTextCursor {
          50% {
            border-right-color: var(--soft-color);
          }
        }
      }

      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .languages {
    width: 100%;
    display: flex;
    padding: 40px 0 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--soft-color);

    .content {
      flex-direction: column;

      .heading {
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        margin: 0;
      }

      .languages-container {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;

        .language-container {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-wrap: wrap;
          width: 100%;

          div {
            width: 300px;
            margin-bottom: 20px;

            h1 {
              transition: 0.15s ease-in-out;

              &:hover {
                color: var(--tag-color);
              }
            }
          }

          h1 {
            font-size: 30px;
          }
        }
      }
    }
  }

  .projects {
    width: 100%;
    display: flex;
    padding: 40px 0 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--soft-color);

    .content {
      flex-direction: column;
    }

    .heading {
      width: 100%;
      text-align: center;
    }

    .project-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .project {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: box-shadow 0.3s ease-in-out;

        h1 {
          transition: 0.15s ease-in-out;
          font-size: 30px;
        }

        &:hover {
          box-shadow: var(--border-color) 0px 5px 15px;
          transition: box-shadow 0.3s ease-in-out;

          h1 {
            color: var(--tag-color);
          }
        }

        .promo-image {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .website-logo {
          height: 30px;
          width: 30px;
          margin-right: 10px;
        }

        .links {
          display: flex;
          align-items: center;
        }

        .tags {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .tag {
            margin-bottom: 20px;

            button {
              background: var(--button-bg-color);
              border-radius: 10px;
              cursor: auto;
              transition: 0.15s ease-in-out;
              color: var(--tag-color);

              &:hover {
                opacity: 0.75;
              }
            }
          }
        }

        button {
          background: var(--link-bg-color);
          color: var(--text-color);
        }

        .promo-image {
          cursor: pointer;
        }

        .button-container {
          transition: 0.15s ease-in-out;
          border-radius: 10px;

          &:hover {
            opacity: 0.75;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 10px;
          margin-right: 20px;
        }
      }
    }
  }

  .interests {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
    width: 100%;
    background: var(--soft-color);

    .content {
      flex-direction: column;
    }

    .heading {
      width: 100%;
      text-align: center;
    }

    .interests-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;

      .interest {
        width: 300px;
        margin-bottom: 20px;
        color: var(--text-color);

        a {
          transition: 0.15s ease-in-out;

          &:hover {
            color: var(--tag-color);
          }
        }
      }

      h1 {
        font-size: 30px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px 40px 20px;
    background: var(--footer-gradient-bg);

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      transition: 0.15s ease-in-out;

      &:nth-last-child(n + 2) {
        margin-right: 10px;
      }

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

@media (min-width: 450px) {
  .project {
    width: 450px;
    height: 625px;
  }
}

@media (max-width: 450px) {
  .project {
    width: 300px;
    height: 650px;
  }
}

@media (min-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 150px;
      }
    }
  }
}

@media (min-width: 260px) {
  .welcome {
    h1 {
      font-size: 20px;
    }
  }
}

@media (min-width: 150px) {
  .welcome {
    h1 {
      font-size: 15px;
    }
  }
}

@media (min-width: 300px) {
  .welcome {
    h1 {
      font-size: 20px;
    }
  }
}

@media (min-width: 460px) {
  .welcome {
    h1 {
      font-size: 30px;
    }
  }
}

@media (min-width: 760px) {
  .welcome {
    h1 {
      font-size: 50px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .welcome {
      img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .container {
    .welcome {
      img {
        height: 200px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .welcome {
      .header {
        .content {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
        }
      }

      .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1150px) {
  .container {
    .welcome {
      .header {
        .content {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
        }
      }

      .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .welcome {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .header {
    .content {
      .links {
        flex-direction: column;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 400px) {
  .footer {
    flex-direction: row;
  }
}

@media (max-width: 1900px) {
  .content {
    width: 100%;
  }

  .header {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 1800px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1900px) {
  .content {
    width: 90%;
  }

  .header {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 2100px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2750px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 3350px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 4000px) {
  .content {
    width: 40%;
  }
}
