@use "global";
@use "header";
@use "footer";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  background: var(--dark-color);

  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    overflow: auto;
    box-shadow: var(--border-color) 0px 5px 15px;
    animation: fadeIn 0.4s;
    border-radius: 20px;
    background: var(--modal-bg-color);

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    svg {
      cursor: pointer;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      position: sticky;
      background: var(--modal-bg-color);
      top: 0;
      z-index: 100;
      padding: 20px;

      svg {
        fill: var(--text-color);
      }
    }

    .images {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
      padding: 20px;

      .image {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 250px;
        width: 205px;

        img {
          transition: 0.3s ease-in-out;
          border: 7px solid var(--modal-image-border-color);

          &:hover {
            opacity: 0.5;
            transition: 0.3s ease-in-out;
          }
        }

        iframe {
          border: 7px solid var(--modal-image-border-color);
        }
      }
    }
  }

  .curve {
    background: var(--dark-color);
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .heading {
    font-size: 50px;
    padding-bottom: 20px;
  }

  .welcome {
    background: var(--gradient-bg);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 40px;

      .picture {
        border-radius: 50%;
      }

      u {
        text-decoration: none;
        border-bottom: 5px solid var(--border-color);
      }

      .fullstackContainer {
        display: inline-block;
        width: auto;
      }

      .introContainer {
        display: inline-block;
        width: auto;
      }

      .intro-name {
        white-space: nowrap;
        overflow: hidden;
        animation: typewriter 2s steps(44) 1s 1 normal both,
          blinkTextCursor 1s steps(44) 4;
        border-right: 2px solid var(--cursor-color);

        @keyframes typewriter {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
        @keyframes blinkTextCursor {
          from {
            border-right-color: var(--cursor-color);
          }
          to {
            border-right-color: var(--cursor-blink-color);
          }
        }
      }

      .fullstack {
        white-space: nowrap;
        overflow: hidden;
        animation: typewriter 2s steps(55) 4s 1 normal both,
          blinkTextCursor 1s steps(55) 4 3.5s;
        border-right: 2px solid var(--cursor-color);

        @keyframes typewriter {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
        @keyframes blinkTextCursor {
          from {
            border-right-color: var(--cursor-color);
          }
          to {
            border-right-color: var(--cursor-blink-color);
          }
        }
      }

      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .technical-skills {
    width: 100%;
    display: flex;
    padding: 40px 0 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--soft-color);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
      }

      .technical-skills-container {
        width: 100%;
        display: grid;
        justify-items: center;

        .column {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          padding: 20px;
          width: 245px;
          border-radius: 20px;
          transition: box-shadow 0.3s ease-in-out;

          .stack {
            color: var(--header-text-color);
          }

          h1 {
            font-size: 30px;
            margin-bottom: 20px;
          }

          &:hover {
            box-shadow: var(--border-color) 0px 5px 15px;
            transition: box-shadow 0.3s ease-in-out;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: default;
            margin-bottom: 20px;

            h1 {
              transition: 0.15s ease-in-out;
              font-size: 25px;
              margin: 0;
            }

            &:hover {
              h1 {
                color: var(--tag-color);
              }
            }
          }
        }
      }
    }
  }

  .projects {
    width: 100%;
    display: flex;
    padding: 40px 0 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--soft-color);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .heading {
      width: 100%;
      text-align: center;
    }

    .project-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .project {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: box-shadow 0.3s ease-in-out;

        h1 {
          transition: 0.15s ease-in-out;
          color: var(--header-text-color);
          font-size: 30px;
        }

        &:hover {
          box-shadow: var(--border-color) 0px 5px 15px;
          transition: box-shadow 0.3s ease-in-out;
        }

        .promo-image {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .website-logo {
          height: 30px;
          width: 30px;
          margin-right: 10px;
          fill: var(--github-color);
        }

        .links {
          display: flex;
          align-items: center;
        }

        .tags {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .tag {
            margin-bottom: 20px;

            button {
              background: var(--button-bg-color);
              border-radius: 10px;
              cursor: auto;
              transition: 0.15s ease-in-out;
              color: var(--tag-color);

              &:hover {
                opacity: 0.75;
              }
            }
          }
        }

        button {
          background: var(--link-bg-color);
          color: var(--link-text-color);
        }

        .promo-image {
          cursor: pointer;
        }

        .button-container {
          transition: 0.15s ease-in-out;
          border-radius: 10px;

          &:hover {
            opacity: 0.75;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 10px;
          margin-right: 20px;
        }
      }
    }
  }

  .interests {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
    width: 100%;
    background: var(--soft-color);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .heading {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .interests-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      width: 100%;

      .interest {
        width: 300px;
        margin-bottom: 20px;
        color: var(--text-color);
        cursor: default;

        h1 {
          transition: 0.15s ease-in-out;

          &:hover {
            color: var(--tag-color);
          }
        }
      }

      h1 {
        font-size: 25px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .technical-skills-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .technical-skills-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .technical-skills-container {
      grid-template-columns: 1fr;

      .column {
        height: auto;
      }
    }
  }
}

@media (max-width: 450px) {
  .project {
    width: 300px;
    height: 600px;
  }

  .modal {
    img,
    iframe {
      height: 150px;
      width: 150px;
    }
  }
}

@media (min-width: 450px) {
  .project {
    width: 450px;
    height: 540px;
  }

  .modal {
    img,
    iframe {
      height: 200px;
      width: 220px;
    }
  }
}

@media (max-width: 940px) {
  .project {
    height: auto;
  }
}

@media (min-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .projects {
    .project-container {
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .promo-image {
        height: 150px;
      }
    }
  }
}

@media (min-width: 150px) {
  .welcome {
    h1 {
      font-size: 15px;
    }
  }
}

@media (min-width: 340px) {
  .welcome {
    h1 {
      font-size: 20px;
    }
  }
}

@media (min-width: 420px) {
  .welcome {
    h1 {
      font-size: 25px;
    }
  }
}

@media (min-width: 485px) {
  .welcome {
    h1 {
      font-size: 30px;
    }
  }
}

@media (min-width: 760px) {
  .welcome {
    h1 {
      font-size: 50px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .welcome {
      .picture {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .container {
    .welcome {
      .picture {
        height: 200px;
        width: 200px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    .welcome {
      .welcome-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1150px) {
  .container {
    .welcome {
      .welcome-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    .welcome {
      width: 100%;
    }
  }
}

@media (max-width: 1900px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1895px) {
  .content {
    width: 90%;
  }
}

@media (min-width: 2100px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2700px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 3150px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 3770px) {
  .content {
    width: 40%;
  }
}
